/*$primary-color: #6b8fb3; // azul plumbago aproximado
$secondary-color: #c7d9ea;
$accent-color: #a3c4dc;

$text-color: #2c2c2c;
$white: #ffffff;

$font-title: 'Playfair Display', serif;
$font-script: 'Great Vibes', cursive;*/

// Colores

$color-primary: #7ea8cf;
$color-secondary: #dfeaf5;
$color-background: #f7f9fc;
$color-white: #ffffff;
$color-gold: #b8974f;
$color-text: #3c3c3c;

// Tipografías

$font-title: "Playfair Display", serif;
$font-script: "Great Vibes", cursive;
$font-body: "Poppins", sans-serif;

// Sombras

$shadow-card: 0 15px 40px rgba(76,104,141,.12);

// Tipografías

$font-title: "Cormorant Garamond", serif;

$font-script: "Allura", cursive;

$font-body: "Poppins", sans-serif;